
@{
    ViewBag.Title = "Index";
    var books = ViewBag.books;
    var grid = new WebGrid(source: books, canSort: false,
        columnNames: new[] { "Bookid", "Title", "Author", "Price", "Image", "Description", "Status" }, rowsPerPage: 2);

}
<h2>Danh muc sach</h2>
@grid.GetHtml(columns:grid.Columns(
    grid.Column(columnName: "Bookid", header: "Mã sách"),
    grid.Column(columnName: "Title", header: "tieu de"),
    grid.Column(columnName: "Author", header: "Tac gia"),
    grid.Column(columnName: "Price", header: "gia"),
    grid.Column(columnName: "Image", header: "anh"),
    grid.Column(columnName: "Description", header: "mieu ta"),
    grid.Column(columnName: "Status", header: "trang thai"),
    grid.Column(header:"Edit",format:(item)=> {
        var link = Html.ActionLink("Edit", "Edit", new { @id = item.Bookid });
        return link;
    }),
    grid.Column(header:"Delete",format:(item)=>
    {
        var link = Html.ActionLink("Delete", "Delete", new { @id = item.Bookid });
        return link;
    })))


